* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}

::-webkit-scrollbar {
    width: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .5);
    border-radius: 10px
}

button {
    padding: 10px 30px;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer
}

.box {
    position: relative;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18);
    padding: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden
}

.items {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    height: 250px
}

.top {
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: space-between
}

.title {
    height: fit-content;
    color: #000;
    padding: 6px 10px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-family: 'Ego Outline', sans-serif
}

.generate {
    display: flex;
    font-size: 30px;
    cursor: pointer;
    padding: 6px 10px;
    height: fit-content;
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18);
    font-weight: 700;
    font-family: Pockota, sans-serif;
    font-weight: 700;
    transition: all .5s
}

.generate:active {
    transition: all .3s;
    transform: scale(.99);
    box-shadow: none
}

.item {
    position: relative;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: initial;
    font-family: Aquatico, sans-serif;
    transition: all .3s;
    font-size: 12px;
    text-align: center;
    width: 150px;
    height: 100px;
    user-select: none;
    transition: all 1s
}

.item.show::before {
    content: '';
    border-radius: 10px;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: copied 1s;
    animation-duration: 1.5s;
    transition: all .5s
}

@keyframes copied {
    100% {
        content: 'Copied';
        transition: all .5s
    }
}

.item:nth-child(8) {
    animation-delay: 1.2s
}

.item:nth-child(7) {
    animation-delay: 1.1s
}

.item:nth-child(6) {
    animation-delay: 1s
}

.item:nth-child(5) {
    animation-delay: .9s
}

.item:nth-child(4) {
    animation-delay: .8s
}

.item:nth-child(3) {
    animation-delay: .7s
}

.item:nth-child(2) {
    animation-delay: .6s
}

.item:nth-child(1) {
    animation-delay: .5s
}

.item:active {
    transition: all .3s;
    transform: scale(.95);
    box-shadow: 0
}

.copy__div {
    width: 100%;
    height: 100%;
    color: transparent;
    user-select: none;
    text-align: center;
    padding: 10px;
    border: 1px solid transparent;
    font-family: Aquatico, sans-serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center
}

.copy__div.show {
    animation: copytext 1s
}

@keyframes copytext {
    100% {
        color: #000
    }
}

.note {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    user-select: none;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    border: 1px solid transparent;
    font-family: Aquatico, sans-serif;
    font-style: normal;
    font-size: 12px
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none
}

.loading.show {
    display: flex
}

@keyframes loading {
    100% {
        display: flex
    }
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: fit-content
}

.lds-ellipsis div {
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
}

@media(max-width:900px) {
    .box {
        width: 90%
    }

    .items {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        justify-content: center
    }

    .item {
        margin: auto
    }
}

@media(max-width:767px) {
    .box {
        height: 90%;
        padding: 30px
    }

    .items {
        height: 100%;
        overflow-y: auto
    }
}

@media(max-width:600px) {
    .title {
        font-size: 25px
    }

    .generate {
        font-size: 25px
    }
}

@media(max-width:520px) {
    .copy__div {
        top: 30%
    }

    .note {
        top: 35%
    }

    .generate {
        text-align: center;
        justify-content: center
    }

    .top {
        padding: 20px !important;
        flex-direction: column
    }

    .box {
        width: 95%;
        height: 95%;
        padding: 0 !important
    }

    .items {
        width: 100% !important;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 10px;
        padding-bottom: 16px
    }

    .item {
        height: 100px;
        width: 90% !important
    }
}